{% load static %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>تسهيل الوصول</title>

      <!-- stylesheet -->
      <link rel="stylesheet" href="{% static 'ecommerce/css/style1.css' %}">

      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- icons -->
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
      <script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>
	


	</head>
<body>
      
      <a name="home"></a>
      <div class="wrapper">

            <!--------------- hero section starts here --------------->

            <div class="video-container">
                  <video playsinline autoplay muted loop id="bgvid">
                        <source src="{% static 'ecommerce/img/videobg1.mp4' %}">
                  </video>
            </div>

            <div class="header">
                  <h1>الجوده عملنا</h1>
            </div>

            <!--------------- hero section ends here --------------->

            <!--------------- navbar starts here --------------->
         <nav class="nav">
                  <span id="brand">
                        <a href="index.html">تسهيل الوصول</a>
                  </span>

                  <ul id="menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#team">Our team</a></li>
                        <li><a href="#contact">Contact</a></li>
                  </ul>

                  <div id="toggle">
                        <div class="span">menu</div>
                  </div>

            </nav>
             <div id="resize">
                  <div class="close-btn">close</div>

                  <ul id="menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#team">Our team</a></li>
                        <li><a href="#contact">Contact</a></li>
                  </ul>
            </div>
            <!--------------- navbar ends here --------------->


            <div class="content">

			<a name="team"></a>

            <section class="team">

                  <div class="container-fluid">

                        <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">01</div>
                              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">تحميل تطبيق</div>
                        </div>

                        <div class="row members">

                              <div class="col-md-4"></div>

                              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                                   <a href="https://apps.apple.com/us/app/%D8%AA%D8%B3%D9%87%D9%8A%D9%84-%D8%A7%D9%84%D9%88%D8%B5%D9%88%D9%84-tasheel-alwsool/id1522355235" style="color:#d3ae87;">
                                          <div class="team-member">
                                                <div class="team-img team-two">
											  <img src="https://i.ibb.co/w6pYPmY/PHOTO-2020-10-06-20-54-16.jpg" style="width: 350px;">
											  </div>
                                          </div>
                                          <div class="team-title">
                                                <h5>تحميل</h5>
                                               
                                          </div>
                                  </a>
                                    </div>

                        </div>

                  </div>

            </section>
            <!--------------- about section starts here --------------->

           
            <!--------------- about section ends here --------------->

            <!--------------- services section starts here --------------->

            <a name="services"></a>

           <section class="services">

            <div class="container-fluid">

                  <div class="section-data">

                        <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">02</div>
                              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">ما الذي نتميز به</div>
                        </div>

                        <div class="row service">
                              <div class="col-md-4"></div>
                              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="icon">
                                          <ion-icon ios="ios-car" md="md-car"></ion-icon>
                                    </div>
                                    <div class="icon-title">
                                         توصيل سريع
                                    </div>
                              </div>

                              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                                          <div class="icon">
                                                 <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>
                                          </div>
                                          <div class="icon-title">
                                               أسعار حصرية
                                          </div>
                              </div>
                        </div>

                        <div class="row service">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.7s">
                                          <div class="icon">
                                                  <ion-icon ios="ios-help-buoy" md="md-help-buoy"></ion-icon>
                                          </div>
                                          <div class="icon-title">
                                                دعم فني سريع
                                          </div>
                                    </div>
      
                                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.8s">
                                                <div class="icon">
                                                        <ion-icon ios="logo-dropbox" md="logo-dropbox"></ion-icon>
                                                </div>
                                                <div class="icon-title">
                                                    امان
                                                </div>
                                    </div>
                              </div>
                  </div>

            </div>

           </section>

            <!--------------- services section ends here --------------->

            <!--------------- team section starts here --------------->

            
            
            <!--------------- team section ends here --------------->

            <!--------------- newsletter section starts here --------------->

           

            <!--------------- newsletter section ends here --------------->

            <!--------------- contact section starts here --------------->

            <a name="contact"></a>

            <section class="contact">

                  <div class="container-fluid">

                        <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">03</div>
                              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">تواصل معنا</div>
                        </div>

                        <div class="row">
                              <div class="col-md-4"></div>
							 
                              <div class="col-md-6 icon-title wow fadeInUp" data-wow-delay="0.5s">
								   لتواصل معنا الرجاء مع حسابات السوشل ميديا
							
							</div>
                        </div>

                       

                  </div>

            </section>

            <!--------------- footer starts here --------------->

            <div class="footer">

                  <div class="container">

                        <div class="info">

                              <div class="row">
                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
                                          <p>السعودية</p>
                                        
                                         
                                    </div>

                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s" id="media">
                                          <ul>
                                                
                                               <a href="https://www.instagram.com/tasheelalwsool/"> <li><ion-icon name="logo-instagram"></ion-icon></li></a>

                                              <a href="https://twitter.com/tasheelalwsool">  <li><ion-icon name="logo-twitter"></ion-icon></li></a>

                                          </ul>

                                          <br><br>
                                    </div>

                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" id="mail">
                                          <p>Say Hello</p>
                                          <h4>contact@tasheelalwsool.info</h4>

                                          <br><br>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>

            <!--------------- footer ends here --------------->

            </div>

      </div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>

// navigation starts here
$("#toggle").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $("#resize ul li a").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $(".close-btn").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });

$(function () {
  $(document).scroll(function () {
    var $nav = $(".nav");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});

new WOW().init();

// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });


</script>
	<!-- start Gist JS code-->

<!-- end Gist JS code-->

</body>
</html>
{% endblock %}